@font-face {
  font-family: "Oswald ExtraLight";
  src: url("../../static/oswald/Oswald-ExtraLight.ttf") format("truetype");
}
$OswaldLight: "Oswald ExtraLight", Verdana, Geneva, Tahoma, sans-serif;
$Verdana: Verdana, Geneva, Tahoma, sans-serif;
// Some generic rules
body {
  width: 100vw;
  overflow-x: hidden;
  margin-left: 0;
}

// Text rules
h1,
h2 {
  font-family: $OswaldLight;
}
p,
a {
  font-family: $Verdana;
}

#root {
  width: 90vw;
  margin: 0 5vw 0 5vw;

  a {
    text-decoration: none;
    color: black;
  }

  header {
    margin-top: 30px;
    h1 {
      margin-top: 0;
      .larger {
        font-size: 60px;
        line-height: 50px;
      }
      .smaller {
        font-size: 30px;
        height: 30px;
        line-height: 30px;
      }
    }
    nav {
      #menu-icon {
        background-image: url("../../static/images/bars.svg");
        display: block;
        position: absolute;
        top: 30px;
        right: 5vw;
        height: 37px;
        width: 30px;
      }
      ul {
        width: 300px;
        height: 200px;
        display: flex;
        text-align: right;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: -300px;
        justify-content: center;
        background-color: #8c8c8c;
        padding: 0;
        transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
          z-index 0s linear 0.01s;

        &.open {
          right: 0px;
        }

        li {
          opacity: 1;
          margin-left: 0;
          margin-right: 5vw;
          margin-bottom: 12px;
          list-style-type: none;
        }
      }
    }
  }
  .hero-container {
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 20px;
    img {
      position: absolute;
      width: 100%;
    }
    .well {
      top: 0;
      width: 80%;
      margin: auto;
      padding-bottom: 20px;
      background-color: #374244;
      opacity: 0.85;
      h2,
      p,
      a {
        color: white;
        padding: 0 20px 0 20px;
      }
      a {
        text-decoration: underline;
      }
    }
  }
}
