@font-face {
  font-family: "Oswald ExtraLight";
  src: url("../../static/oswald/Oswald-ExtraLight.ttf") format("truetype");
}
#root {
  font-family: "Oswald ExtraLight", Verdana, Geneva, Tahoma, sans-serif;

  header {
  }
}
